.login__container {
  @apply flex;
  grid-area: main;

  img {
    @apply object-contain;
    height: 90vh;
    margin-top: -40px;
    width: 45%;
  }

  .login__contents {
    @apply ml-12 pr-6 pt-5 -mt-1.5 relative;
    border-left: 1px solid var(--blue);
    border-bottom: 1px solid var(--blue);
    height: 355px;

    &::after {
      @apply ml-auto block relative text-transparent;
      content: ".";
      border-right: 1px solid var(--blue);
      height: 45px;
      right: -24px;
      top: -24px;
    }

    .login__title {
      @apply mt-20 ml-6;

      h1 {
        @apply font-bold text-3xl;
      }
    }

    .login__form {
      @apply ml-6 mt-2;

      .login__fields {
        .login__input {
          @apply flex items-center;
          border: 1px solid var(--bg-color-gray-light);
          border-radius: 5px;
          font-size: 12px;

          & + .login__input {
            @apply mt-2;
          }

          input {
            @apply py-1 pl-3;
          }

          button {
            @apply py-3 px-3;
            background-color: var(--bg-color-gray-light);
            border-radius: 5px 0 0 5px;

            svg {
              color: var(--color-black);
              opacity: 0.7;
            }
          }
        }
      }

      .login__submit {
        @apply flex justify-between items-center mt-4;

        button {
          &:first-child {
            @apply transition-all ease-in;
            color: var(--color-blue-light);
            border-bottom: 1px solid var(--color-blue-light);
            font-size: 14px;

            &:hover {
              color: var(--color-blue-primary);
              border-bottom: 1px solid var(--color-blue-light);
              opacity: 0.9;
            }
          }

          &:last-child {
            @apply p-1 w-20 text-white ease-in transition-all;
            background-color: var(--color-blue-light);
            border: 1px solid var(--color-blue-primary);
            border-radius: 4px;

            &:hover {
              background-color: var(--color-blue-primary);
            }
          }
        }
      }
    }

    .point__left {
      @apply absolute;
      left: -32px;
      bottom: -17px;

      &::after {
        @apply ml-auto block relative text-transparent rounded-full bg-white;
        content: ".";
        border: 2px solid var(--blue);
        height: 16px;
        width: 16px;
        right: -24px;
        top: -10px;
      }
    }

    .point__right {
      @apply absolute;
      right: 15px;
      bottom: -17px;

      &::after {
        @apply ml-auto block relative text-transparent rounded-full bg-white z-10;
        content: ".";

        border: 2px solid var(--blue);
        height: 16px;
        width: 16px;
        right: -22px;
        top: -10px;
      }
    }

    .point__top {
      @apply absolute;
      right: 15px;
      bottom: 39px;

      &::after {
        @apply ml-auto block relative text-transparent rounded-full z-10;
        content: ".";
        background-color: var(--blue);
        height: 16px;
        width: 16px;
        right: -22px;
        top: -1px;
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    @apply absolute top-1/2 left-1/2;
    transform: translate(-50%, -50%);

    img {
      @apply hidden;
    }

    .login__contents {
      @apply ml-0;

      background-color: var(--navy);
      box-shadow: 5px 5px 10px #333333, -5px -5px 10px #333333;
      border-radius: 10px;
      border-left: none;
      border-bottom: none;
      height: 315px;
      min-width: 500px;

      &::after {
        @apply hidden;
      }

      .login__title,
      .login__form {
        @apply ml-0 pl-5;
      }

      .login__title {
        @apply mt-3;

        h1 {
          @apply mb-5;
          @apply text-4xl text-white;
          text-shadow: 3px 3px 5px #333333;
        }
      }

      .login__form {
        .login__fields {
          .login__input {
            @apply flex;

            & + .login__input {
              @apply mt-3;
            }

            button {
              @apply py-3;
            }

            input {
              @apply w-full py-2;
            }
          }
        }

        .login__submit {
          button {
            &:first-child {
              @apply text-white;
              border-bottom: 1px solid #fff;

              &:hover {
                @apply text-white;
                border-bottom: 1px solid #fff;
                opacity: 0.7;
              }
            }

            &:last-child {
              background-color: var(--bg-color-header-dark);
              border: 1px solid var(--bg-color-header-dark);

              &:hover {
                background-color: var(--bg-color-header-dark);
                opacity: 0.8;
              }
            }
          }
        }
      }

      .point__left,
      .point__right,
      .point__top {
        @apply hidden;
      }
    }
  }

  @media screen and (max-width: 767px) {
    @apply flex-col justify-center items-center;

    img {
      height: 60vh;
      margin-top: 200px;
      width: 100%;
    }

    .login__contents {
      @apply ml-0 pr-0 mb-52 mt-3 w-11/12 h-auto;
      border-left: none;
      border-bottom: none;

      &::after {
        @apply hidden;
      }

      .login__title,
      .login__form {
        @apply ml-0;
      }

      .login__title {
        @apply mt-0 mb-2 text-left;

        h1 {
          span {
            &:first-child {
              @apply text-3xl;
            }
          }
        }

        p {
          &:nth-child(2) {
            @apply mt-2;
            font-size: 1rem;
          }
        }
      }

      .login__form {
        @apply mb-5;

        .login__fields {
          .login__input {
            @apply p-2;

            & + .login__input {
              @apply mt-3;
            }

            input {
              @apply w-full;
              font-size: 14px;
            }
          }
        }
      }

      .point__left,
      .point__right,
      .point__top {
        @apply hidden;
      }
    }
  }
}
